body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

#map-title {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Lora', serif;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 38%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    gap: 5px;
}

.control-container {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: start;
    align-items: flex-start; /* Align items to the top */
}

.checkbox-container {
    width: 25%;
    margin: 0px 10px 0px 0px; /* Adjusted margin to align with buttons */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    z-index: 1;
}

.checkbox-container h3 {
    margin-top: 0;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-container label input[type="checkbox"] {
    margin-right: 10px;
}

.button-dropdown-group {
    width: 75%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 1;
}

.button-dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-dropdown button,
.button-dropdown select {
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.button-dropdown button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    flex: 1;
}

.button-dropdown button:hover {
    background-color: #0056b3;
}

.button-dropdown button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.button-dropdown select {
    flex: 2;
}

.fixed-width-dropdown {
    width: 100%; /* Set a fixed width */
    overflow: hidden; /* Hide overflowed content */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

#second-plot {
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    visibility: hidden;
}

#bar-chart {
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#legend {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px; /* Increase font size */
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px; /* Increase font size */
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background: #fff;
    border: 1px solid #000;
    padding: 5px;
    z-index: 10;
}
